main {
  font-family: "Montserrat";
  margin-top: 25px;
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      color: #333333;
    }
    span {
      color: #4f4f4f;
    }
  }
  .stays-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 40px;
    margin-top: 20px;
    @media only screen and (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
  @media only screen and (max-width: 600px) {
    .head {
      h1 {
        font-size: 20px;
      }
      span {
        font-size: 14px;
      }
    }
  }
}
