* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 32px 90px;
}

@media only screen and (max-width: 450px) {
  body {
    padding: 15px 20px;
  }
}

button {
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}
